$toolbar-height: 64px;

.angular-google-map-container {
  position:absolute;
  top: $toolbar-height; right: 0; left: 0; bottom: 0;
}

.scroller {
    white-space: pre-line;
    height: 500px;
    overflow-y: hidden;
    position: relative;
}

md-content {
    .bottom-right {
        position: absolute;
        right: 10px;
        bottom: 20px;
        z-index: 2;

        .material-icons {
        }
    }
    width: 100%;
    .sidemenu-list, .sidemenu-sublist {
        padding: 0;
        margin: 0;

        .sparkline-container {
            padding: 0;
            border: 1px solid #ddd;
            margin: -1px 0;
            padding: 16px;
            outline: none;
            cursor: pointer; cursor: hand;

            .title {
                height: 30px;

                .md-label {
                    width: 100%;
                }
                position: relative;

                .name, .count {
                    display: inline-block;
                }

                .count {
                    background-color: #11c1f3;
                    color: #fff;
                    border-radius: 10px;
                    padding: 2px 10px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                .name {
                    max-width: 140px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .nv-valueWrap {
                display: none;
            }

            nvd3 {
                z-index: 1000;
                svg {
                    overflow: visible;
                }
            }
        }
    }

    .sidemenu-sublist {
        margin-top: 15px;

        .sparkline-container {
            .title {
                .name {
                    max-width: 160px;
                }
            }
        }
    }

    md-sidenav {
        position: absolute;
        top: $toolbar-height;
        transition-duration: 0.5s;
        transition-property: all;
        transition-timing-function: ease;
    }

    md-toolbar {
        height: $toolbar-height;
    }
}